@import "tailwindcss";

body {
    background: #ccc;
}

h3 {
    letter-spacing: 1px;
}

@theme {

    --color-textPrimary: #040606;
    --color-textSecondary: #495057;
    --color-background: #e2eaee;
    --color-primary: #5d6aa2;
    --color-secondary: #d2cbe1;
    --color-accent-green: #28A745;
    --color-accent-red: #DC3545;
    --color-accent-blue: #007BFF;

}