@import "tailwindcss";

body {
    background: #ccc;
}

@theme {
    --color-primary: #EA580C;
    --color-primary-dark: #D94B05;

    --color-secondary: #2563EB;

    --color-accent-red: #DC2626;
    --color-accent-green: #16A34A;

    --color-heading: #374151;
    --color-sub-heading: #6B7280;
    --color-card: #F3F4F6;
    --color-background: #eee;
}